.container {

}

.jumbotron {
}

.shadow {
  text-shadow: 10px 10px 20px grey;
}

.nav a {
  font-size: 30px;
  color: white;
  font-family: serif;
}
a:hover {
  color: #3366ff;
}

img {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.item {
  height: 360px;
}


.header {
  text-align: center;
}

.carousel-indicators {
  bottom: 0;
}
.carousel-indicators .active {
  background-color: #3366ff;
}
.carousel-indicators li {
  border-color: #3366ff;
}

#myCarousel {
  height: 450px;
}

.row {
  margin: 0 15px 15px 15px;
  text-align: center;
}

.gracie-row .col-sm-4:nth-child(1) {
  border: none;
}

.col-sm-4:nth-child(1), .col-sm-4:nth-child(2){
  border-right: 1px solid #3366ff;

}

h3 {
  text-decoration: underline;

}

footer {
  text-align: center;
  color: #3366ff;
}
