.container {

}

.jumbotron {
}

.nav a {
  font-size: 30px;
  color: white;
  font-family: serif;
}
a:hover {
  color: #3366ff;
}

img {
  width: 700px;
  height: 600px;
}

.header {
  text-align: center;
}
